/* Styles adapted from "Example Submission" and lesson notes */

body {
	padding: 20px 10px;
	font-family: Helvetica;
	max-width: 1024px;
	margin: 0 auto;
	font-size: 1.4em;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

element.style {
	display: flex;
}

h2 {
	margin: 10px;
}

.boxxy {
	background-color: #333333;
	border-radius: 20px;
	color: white;
	padding: 10px;
	margin: 40px auto;
	text-align: center;
}

.boxxy-title {
	background-color: #CCCCCC;
	color: black;
	padding: 4px;
	border-radius: 4px;	
	margin-top: 40px;
	margin-bottom: 10px;
	margin-left:25%;
	width: 50%;
}

.boxxy-description {
	background-color: #FFFFFF;
	color: black;
	padding: 10px;
	font-weight: lighter;
	margin: 10px;
	border-radius: 4px;
	text-align: left;
}